<div class="col-md-12 col-lg-4">
    <div class="property-contact">
        <form class="form-a" action="{% url 'agents:message' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 mb-1">
                    <div class="form-group">
                        {{ form.name }}
                    </div>
                </div>
                <div class="col-md-12 mb-1">
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                </div>
                <div class="col-md-12 mb-1">
                    <div class="form-group">
                        {{ form.comment }}
                    </div>
                </div>
                <input type="hidden" class="" name="agent_id" value="{{ id }}">
                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-a">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</div>
